In [1]:
import pandas as pd
link='https://github.com/AdriMA3/PC2/raw/refs/heads/main/HDI.xlsx'
datos=pd.read_excel(link)

len(datos)

276

In [2]:
datos.head()

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank
4,HDI rank,Country,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN

In [3]:
#vemos que nuestra tabla esta para limpiar
#primero eliminaremos filas que no nos sirven
datos=datos.iloc[7:]

In [4]:
datos

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
7,1,Switzerland,0.962,NaN,83.9872,NaN,16.500299,NaN,13.85966,NaN,66933.00454,NaN,5,NaN,3
8,2,Norway,0.961,NaN,83.2339,NaN,18.1852,c,13.00363,NaN,64660.10622,NaN,6,NaN,1
9,3,Iceland,0.959,NaN,82.6782,NaN,19.163059,c,13.76717,NaN,55782.04981,NaN,11,NaN,2
10,4,"Hong Kong, China (SAR)",0.952,NaN,85.4734,d,17.27817,NaN,12.22621,NaN,62606.8454,NaN,6,NaN,4
11,5,Australia,0.951,NaN,84.5265,NaN,21.05459,c,12.72682,NaN,49238.43335,NaN,18,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#eliminaremos las filas donde en la columna Back esta vacia
datos=datos.dropna(subset=['Back'])

In [6]:
datos

,Back,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
7,1,Switzerland,0.962,NaN,83.9872,NaN,16.500299,NaN,13.85966,NaN,66933.00454,NaN,5,NaN,3
8,2,Norway,0.961,NaN,83.2339,NaN,18.1852,c,13.00363,NaN,64660.10622,NaN,6,NaN,1
9,3,Iceland,0.959,NaN,82.6782,NaN,19.163059,c,13.76717,NaN,55782.04981,NaN,11,NaN,2
10,4,"Hong Kong, China (SAR)",0.952,NaN,85.4734,d,17.27817,NaN,12.22621,NaN,62606.8454,NaN,6,NaN,4
11,5,Australia,0.951,NaN,84.5265,NaN,21.05459,c,12.72682,NaN,49238.43335,NaN,18,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,187,Burundi,0.426,NaN,61.6627,NaN,10.722722,e,3.129267,e,731.786709,NaN,4,NaN,187
197,188,Central African Republic,0.404,NaN,53.8947,NaN,8.040172,e,4.334,NaN,966.058611,NaN,1,NaN,188
198,189,Niger,0.4,NaN,61.5763,NaN,6.957112,e,2.116717,n,1239.866936,NaN,-3,NaN,189
199,190,Chad,0.394,NaN,52.5254,NaN,8.035914,e,2.573774,u,1364.169417,NaN,-7,NaN,190
200,191,South Sudan,0.385,NaN,54.9752,NaN,5.54251,e,5.72614,NaN,767.787,aa,-1,NaN,191

In [7]:
#rename
datos.columns=['HDI_Rank','Country','Human_Development_Index','colum1','Life_expectancy_at_birth','colum2','Expected_years_of_schooling','colum3','Mean_years_of_schooling','colum4','Gross_national_income_per_capita','colum5','colum6','colum7','colum8']

In [8]:
datos

,HDI_Rank,Country,Human_Development_Index,colum1,Life_expectancy_at_birth,colum2,Expected_years_of_schooling,colum3,Mean_years_of_schooling,colum4,Gross_national_income_per_capita,colum5,colum6,colum7,colum8
7,1,Switzerland,0.962,NaN,83.9872,NaN,16.500299,NaN,13.85966,NaN,66933.00454,NaN,5,NaN,3
8,2,Norway,0.961,NaN,83.2339,NaN,18.1852,c,13.00363,NaN,64660.10622,NaN,6,NaN,1
9,3,Iceland,0.959,NaN,82.6782,NaN,19.163059,c,13.76717,NaN,55782.04981,NaN,11,NaN,2
10,4,"Hong Kong, China (SAR)",0.952,NaN,85.4734,d,17.27817,NaN,12.22621,NaN,62606.8454,NaN,6,NaN,4
11,5,Australia,0.951,NaN,84.5265,NaN,21.05459,c,12.72682,NaN,49238.43335,NaN,18,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,187,Burundi,0.426,NaN,61.6627,NaN,10.722722,e,3.129267,e,731.786709,NaN,4,NaN,187
197,188,Central African Republic,0.404,NaN,53.8947,NaN,8.040172,e,4.334,NaN,966.058611,NaN,1,NaN,188
198,189,Niger,0.4,NaN,61.5763,NaN,6.957112,e,2.116717,n,1239.866936,NaN,-3,NaN,189
199,190,Chad,0.394,NaN,52.5254,NaN,8.035914,e,2.573774,u,1364.169417,NaN,-7,NaN,190
200,191,South Sudan,0.385,NaN,54.9752,NaN,5.54251,e,5.72614,NaN,767.787,aa,-1,NaN,191

In [9]:
#elimar columnas que no nos sirven
datos=datos.drop(['HDI_Rank','colum1','colum2','colum3','colum4','colum5','colum6','colum7','colum8'],axis=1)
datos.head()

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita
7,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
8,Norway,0.961,83.2339,18.1852,13.00363,64660.10622
9,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981
10,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454
11,Australia,0.951,84.5265,21.05459,12.72682,49238.43335

In [10]:
#queremos que empiece de 1 no de 7
datos=datos.reset_index(drop=True)
datos.index=datos.index+1
datos.head()

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita
1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454
2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622
3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981
4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454
5,Australia,0.951,84.5265,21.05459,12.72682,49238.43335

In [11]:
#veremos si esta en object las columnas
datos.dtypes

Country                             object
Human_Development_Index             object
Life_expectancy_at_birth            object
Expected_years_of_schooling         object
Mean_years_of_schooling             object
Gross_national_income_per_capita    object
dtype: object

In [12]:
columnas_redondeo=['Life_expectancy_at_birth','Expected_years_of_schooling','Mean_years_of_schooling','Gross_national_income_per_capita']
for col in columnas_redondeo:
  datos[col]=pd.to_numeric(datos[col],errors='coerce')

In [13]:
#redondear algunas columnas
datos=datos.round({'Life_expectancy_at_birth':1,'Expected_years_of_schooling':1,'Mean_years_of_schooling':1,'Gross_national_income_per_capita':2})
datos.head()

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita
1,Switzerland,0.962,84.0,16.5,13.9,66933.00
2,Norway,0.961,83.2,18.2,13.0,64660.11
3,Iceland,0.959,82.7,19.2,13.8,55782.05
4,"Hong Kong, China (SAR)",0.952,85.5,17.3,12.2,62606.85
5,Australia,0.951,84.5,21.1,12.7,49238.43

In [14]:
#pasamos Human_Development_Index de object a float64
datos['Human_Development_Index']=pd.to_numeric(datos["Human_Development_Index"],errors='coerce')

In [15]:
datos.dtypes

Country                              object
Human_Development_Index             float64
Life_expectancy_at_birth            float64
Expected_years_of_schooling         float64
Mean_years_of_schooling             float64
Gross_national_income_per_capita    float64
dtype: object

In [16]:
#creamos una columna y agrupamos como visto en clase
bins=[0,0.549,0.699,0.799,1.0]
labels=["LOW HUMAN DEVELOPMENT","MEDIUM HUMAN DEVELOPMENT","HIGH HUMAN DEVELOPMENT","VERY HIGH HUMAN DEVELOPMENT"]

datos["Category"]=pd.cut(datos["Human_Development_Index"],bins=bins,labels=labels)
datos.head()

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita,Category
1,Switzerland,0.962,84.0,16.5,13.9,66933.00,VERY HIGH HUMAN DEVELOPMENT
2,Norway,0.961,83.2,18.2,13.0,64660.11,VERY HIGH HUMAN DEVELOPMENT
3,Iceland,0.959,82.7,19.2,13.8,55782.05,VERY HIGH HUMAN DEVELOPMENT
4,"Hong Kong, China (SAR)",0.952,85.5,17.3,12.2,62606.85,VERY HIGH HUMAN DEVELOPMENT
5,Australia,0.951,84.5,21.1,12.7,49238.43,VERY HIGH HUMAN DEVELOPMENT

In [17]:
datos

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita,Category
1,Switzerland,0.962,84.0,16.5,13.9,66933.00,VERY HIGH HUMAN DEVELOPMENT
2,Norway,0.961,83.2,18.2,13.0,64660.11,VERY HIGH HUMAN DEVELOPMENT
3,Iceland,0.959,82.7,19.2,13.8,55782.05,VERY HIGH HUMAN DEVELOPMENT
4,"Hong Kong, China (SAR)",0.952,85.5,17.3,12.2,62606.85,VERY HIGH HUMAN DEVELOPMENT
5,Australia,0.951,84.5,21.1,12.7,49238.43,VERY HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...
187,Burundi,0.426,61.7,10.7,3.1,731.79,LOW HUMAN DEVELOPMENT
188,Central African Republic,0.404,53.9,8.0,4.3,966.06,LOW HUMAN DEVELOPMENT
189,Niger,0.400,61.6,7.0,2.1,1239.87,LOW HUMAN DEVELOPMENT
190,Chad,0.394,52.5,8.0,2.6,1364.17,LOW HUMAN DEVELOPMENT
191,South Sudan,0.385,55.0,5.5,5.7,767.79,LOW HUMAN DEVELOPMENT